main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
}

section{
    display: flex;
    justify-content: center;
}

main section,
main article {
  color: black;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-todo{
  display: grid;
  padding: 5px;
}

form{
  display: flex;
  flex-wrap: wrap;
}

input,
textarea{
  display: flex;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
}

#tarefa{
  display: flex;
  justify-content: center;
  background-color: #0074d9;
  color: white;
}

::placeholder{
  white-space: pre-wrap;
}


